<!-- <%##= form_with(model: purchaser, local: true) do |form| %> -->

<!--
<%#= form_with(model: [ current_user, current_user.purchasers.build ]) do |form| %>

  <%# if purchaser.errors.any? %>
    <div id="error_explanation">
      <h2><%#= pluralize(purchaser.errors.count, "error") %> prohibited this purchaser from being saved:</h2>

      <ul>
        <%# purchaser.errors.full_messages.each do |message| %>
          <li><%#= message %></li>
        <%# end %>
      </ul>
    </div>
  <%# end %>

  <div class="field">
    <%#= form.label :name %>
    <%#= form.text_field :name %>
  </div>

  <div class="actions">
    <%#= form.submit %>
  </div>
<%# end %> -->

<%= form_with(model: [ current_user, current_user.purchasers.build ]) do |form| %>

  <% if @purchaser.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@purchaser.errors.count, "error") %> prohibited this purchaser from being saved:</h2>
      <ul>
        <% @purchaser.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="display-4 text-center" style="font-size:200%;">

  <div class="field pb-2">
    <%= form.label :name, "Purchaser Name"%>
    <%= form.text_field :name, class:"bg-gray-200 form-control" %>
  </div>

  <div class="text-center">
    <div class="actions btn btn-success">
    <%= button_tag(type: 'submit') do %>
     Create Purchaser
    <% end %>
    </div>
  </div>

</div>

<% end %>
