<style>

  @media (min-width: 640px) {
    table {
      display: inline-table !important;
    }

    thead tr:not(:first-child) {
      display: none;
    }
  }

  td:not(:last-child) {
    border-bottom: 0;
  }

  th:not(:last-child) {
    border-bottom: 2px solid rgba(0, 0, 0, .1);
  }
</style>

<div class="display-4" style="font-size:100%;">

  <div class="text-center p-4  border-t-2 border-r-2 border-b-2 border-l-4 border-gray-200">
    <div class="display-1" style="font-size:300%;">All Purchasers</div>
  </div>
  <br>

  <!-- <%= link_to 'New Purchaser', new_user_purchaser_path(current_user), class:"btn btn-success btn-block" %> -->






  <!-- Button trigger modal -->
  <button type="button" class=" btn btn-success btn-block" data-toggle="modal" data-target="#newPurchaserModal">
New Purchaser  </button>

  <!-- Modal -->
  <div class="modal fade" id="newPurchaserModal" tabindex="-1" role="dialog" aria-labelledby="newPurchaserModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="newPurchaserModalLabel">New Purchaser</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">



          <%#= form_with(model: purchaser, local: true) do |form| %>

          <%= form_with(model: [ current_user, current_user.purchasers.build ]) do |form| %>

            <% if @purchaser.errors.any? %>
              <div id="error_explanation">
                <h2><%= pluralize(@purchaser.errors.count, "error") %> prohibited this purchaser from being saved:</h2>

                <ul>
                  <% @purchaser.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                  <% end %>
                </ul>
              </div>
            <% end %>

            <div class="display-4 text-center" style="font-size:200%;">


            <div class="field pb-2">
              <%= form.label :name, "Purchaser Name"%>
              <%= form.text_field :name, class:"bg-gray-200 form-control" %>
            </div>



            <div class="text-center">
              <div class="actions btn btn-success">
              <%= button_tag(type: 'submit') do %>
               Create Purchaser
              <% end %>
              </div>
            </div>



          </div>

          <% end %>






        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>














  <br>

<% @purchasers.each do |purchaser| %>

<div class="p-4  border-t-2 border-r-2 border-b-2 border-l-4 border-gray-200">

  <div class=" container rounded-t-2xl ">
    <div class=" flex flex-col flex-no wrap w-full">
      <br>

      <button type="button" name="button" class="bg-teal-300 p-3 btn" >
        <div>
          <!-- <strong>Purchased by:</strong>
          <br> -->
          <%= link_to " #{purchaser.name}", purchaser, class:"display-4",style:"width:100%; font-size:200%;" %>
        </div>
      </button>

    </div>
  </div>

  <!-- component -->
  <div class="flex items-center justify-center">

  	<div class="container -mt-4">
      <!-- <table class="w-full flex flex-row flex-no-wrap sm:bg-white rounded-lg overflow-hidden sm:shadow-lg my-1"> -->
      <table class="w-full flex flex-row flex-no-wrap sm:bg-white overflow-hidden sm:shadow-lg my-1">
  			<tbody class="flex-1 sm:flex-none">


          <% if purchaser.vendors.any? %>

                <% purchaser.vendors.each do |vendor| %>
          				<tr class="flex flex-col flex-no wrap sm:table-row mb-2 sm:mb-0 bg-gray-100">

                    <td class="border-grey-light border hover:bg-gray-100 p-3">
                      <strong>Vendor:</strong> <%= link_to "#{vendor.name.capitalize}", vendor %>
                    </td>

                    <td class="border-grey-light border hover:bg-gray-100 p-3">
                      <strong>PO: </strong> <%= vendor.po_number %>
                    </td>

                    <td class="border-grey-light border hover:bg-gray-100 p-3"><strong>Distributor: </strong> <%= vendor.distributed_by %></td>

                    <td class="border-grey-light border hover:bg-gray-100 p-3">
                      <strong>Recieved:</strong><%= " #{vendor.date_recieved.strftime("%m-%d-%y")}" %>
                    </td>

                    <td class="border-grey-light border hover:bg-gray-100 p-3">
                        <strong>Delivered:</strong>
                        <% if vendor.date_delivered.present? != true %>
                          n/a
                        <% else%>
                        <%= " #{vendor.date_delivered.strftime("%m-%d-%y")}" %>
                        <% end %>
                    </td>



          					<td class="text-center border-grey-light border hover:bg-gray-100 p-3 text-red-400 hover:text-red-600 hover:font-medium cursor-pointer">

                      <!-- <span class="" style="height:20%; width:20%;">
                        <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="trash-alt" class="svg-inline--fa fa-trash-alt fa-w-14" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" style="height:40%; width:40%;"><path fill="currentColor" d="M32 464a48 48 0 0 0 48 48h288a48 48 0 0 0 48-48V128H32zm272-256a16 16 0 0 1 32 0v224a16 16 0 0 1-32 0zm-96 0a16 16 0 0 1 32 0v224a16 16 0 0 1-32 0zm-96 0a16 16 0 0 1 32 0v224a16 16 0 0 1-32 0zM432 32H312l-9.4-18.7A24 24 0 0 0 281.1 0H166.8a23.72 23.72 0 0 0-21.4 13.3L136 32H16A16 16 0 0 0 0 48v32a16 16 0 0 0 16 16h416a16 16 0 0 0 16-16V48a16 16 0 0 0-16-16z"></path></svg>
                      </span> -->


                      <%= link_to 'Delete', vendor, method: :delete, data: { confirm: 'Are you sure? Once deleted you will never be able to recover this data.' }, class:"text-red-400 hover:text-red-600 hover:font-medium cursor-pointer" %>
                    </td>

          				</tr>

                <% end %>

          <% else %>
            <tr class="flex flex-col flex-no wrap sm:table-row mb-2 sm:mb-0 bg-gray-100 ">
              <h5 class="bg-red-200 p-4 text-center">No Vendors Available.</h5>
            </tr>
          <% end %>

  			</tbody>
  		</table>

      <br>
      <br>
      <div class="container text-center" style:"object-fit: contain;">
        <%= link_to 'Add Vendor', new_purchaser_vendor_path(purchaser), class:"btn btn-success " %>
      </div>

















  	</div>
  </div>

  <br>


  <!-- <div class="container text-center" style:"object-fit: contain;">
    <%= link_to 'Add Vendor', new_purchaser_vendor_path(purchaser), class:"btn btn-outline-success " %>
  </div> -->

</div>

<br>
<br>



<% end %>

</div>
