<div class="p-4  border-t-2 border-r-2 border-b-2 border-l-4 border-gray-200 text-center">
  <div class="display-4" style="font-size:100%;">

<%#= form_with(model: order, local: true) do |form| %>
<%= form_with(model: [ vendor, vendor.orders.build ]) do |form| %>

  <% if order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
        <% order.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <!-- <% if vendor.id.present? %>
    <h1>VENDOR PRESENT: <%= vendor.name %></h1>
  <% else %>
    <h1>VENDOR MISSING :(</h1>
  <% end %>

  <% if purchaser.id.present? %>
    <h1>PURCHASER PRESENT: <%= purchaser.name %></h1>
  <% else %>
    <h1>PURCHASER MISSING :(</h1>
  <% end %> -->
  NEW ORDER PARTIAL
  <div class="field p-2">
    <%= form.label "Purchaser" %>
    <%= form.label "#{purchaser.name}", class: "form-control" %>
  </div>

  <div class="field p-2">
    <%= form.label "Vendor" %>
    <%= form.label "#{vendor.name}", class: "form-control" %>
    <%= form.hidden_field :vendor_id, value: vendor, class: "form-control", disabled: true %>
  </div>

  <div class="field p-2">
    <%= form.label :vendor_id, "Vendor ID"%>
    <%= form.text_field :vendor_id, value:vendor.id %>
  </div>

  <div class="field p-2">
    <%= form.label :name %>
    <%= form.text_field :name, class:" form-control" %>
  </div>

  <div class="field p-2">
    <%= form.label :po_number, "PO Number" %>
    <%= form.number_field :po_number, class:" form-control" %>
  </div>

  <div class="p-2" style="">
    <%= form.label :date_recieved %>
    <%= form.date_field :date_recieved, as: :date, value: form.object.try(:strftime,"%m/%d/%Y"), class: 'form-control' %>
  </div>

  <div class="p-2" style="">
    <%= form.label :date_delivered %>
    <%= form.date_field :date_delivered, as: :date, value: form.object.try(:strftime,"%m/%d/%Y"), class: 'form-control' %>
  </div>


  <div class="field p-2">
    <%= form.label :distributed_by %>
    <%= form.text_field :distributed_by, class:" form-control" %>
  </div>

  <!-- <div class="actions btn btn-success">
  <%#= button_tag(type: 'submit') do %>
   Create Order
  <%# end %>
  </div> -->

    <%= form.submit%>
<% end %>






</div>
</div>



<script>
$(document).ready(function(){ // Start of JS



}); // End of JS
</script>
