<div class="p-4  border-t-2 border-r-2 border-b-2 border-l-4 border-gray-200 text-center">
  <div class="display-4" style="font-size:100%;">
  <%= form_with(model: vendor, local: true) do |form| %>
    <% if vendor.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(vendor.errors.count, "error") %> prohibited this vendor from being saved:</h2>
        <ul>
          <% vendor.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <%= form.label :vendor_id, "Purchaser" %>
    <div class="field p-2 form-control">
      <%#= form.text_field :vendor_id, class:" form-control" %>
      <%= form.collection_select :vendor_id, Purchaser.order(:name),:id,:name, prompt: "Select Purchaser"%>
    </div>

    <div class="field p-2">
      <%= form.label :name, "Vendor Name"%>
      <%= form.text_field :name, class:"bg-gray-200 form-control" %>
    </div>
    <%= form.hidden_field :purchaser_id %>
    <br>
    <div class="actions btn btn-success">
    <%= button_tag(type: 'submit') do %>
     Create Vendor
    <% end %>
    </div>
  <% end %>
  </div>
</div>
