<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @vendor.name %>
</p>

<p>
  <strong>Po number:</strong>
  <%= @vendor.po_number %>
</p>

<p>
  <strong>Date recieved:</strong>
  <%= @vendor.date_recieved %>
</p>

<p>
  <strong>Date delivered:</strong>
  <%= @vendor.date_delivered %>
</p>

<p>
  <strong>Distributed by:</strong>
  <%= @vendor.distributed_by %>
</p>

<p>
  <strong>Purchaser:</strong>
  <%= @vendor.purchaser_id %>
</p>

<%= link_to 'Edit', edit_vendor_path(@vendor) %> |
<%= link_to 'Back', :back %>
